NODE_ENV=production
PORT=10000

# Database URL (PostgreSQL / Supabase / Render Postgres)
DATABASE_URL=postgresql://user:password@host:5432/dbname

# Google Service Account Credentials
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@project.iam.gserviceaccount.com
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# Spreadsheet IDs
EMPLOYEE_DB_ID=1AxdiOpaij8Lnx0TV5iMhgVlADfN0LeXzwOdmbzmrlGA
ACADEMIC_DB_ID=1DK4OpEdEDh2z_Ng9vIHbci41yBLSQ2m4ZXI7sqA7mJs
TEACHER_APP_DB_ID=1IR48k48Koil2lHv_coP8yBmLYUcGBOy_9xgdd9t6YR8
